<%- include("partials/adminheader") %>
<div><h5  style="font-size: 50px;" href="/add">Add</h5></div>
<div><p>List sneaker</p></div>
<div style="margin-top: 10px;"><a>Item 1</a><a href="/edit"><a style="margin-left: 10px;" class="btn btn-outline-dark" href="/edit">Edit</a></a></div> 
<div style="margin-top: 10px;"><a>Item 2</a> <a href="/edit"><a style="margin-left: 10px;" class="btn btn-outline-dark" href="/edit">Edit</a></a></div>
<div style="margin-top: 10px;"><a>Item 3</a> <a href="/edit"><a style="margin-left: 10px;" class="btn btn-outline-dark" href="/edit" >Edit</a></a></div>



<%- include("partials/footer") %>