<%- include("partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
        <center><h1>NIKE</h1></center>
    </div>
</header>
<br><br><br><br><br><br>

<div class ="row"style="display:flex; flex-wrap:wrap;">
    
    <div class="col-md-4 col-sm-6" >
        
            <div class="card">
                    <div class="front"><img src = " https://stockx-360.imgix.net/adidas-Yeezy-Boost-350-V2-Cinder/Images/adidas-Yeezy-Boost-350-V2-Cinder/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1585357645&w=1000 " class="img-fluid" width = "300px" ></div>
                    <div class = "back">
                        <div class="details">
                            <h2>ชื่อรุ่น<br><span>ชอบบบบ</span></h2>
                            <p class="btn btn-secondary" style="text-align: center; font-size: 20px;"><a href="/nike/details">Nike Store</a></p>
                            <div class="social-icons">
                                <a href="#"><i class="" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                
            </div>    
            <br><br>
            
            
        
    </div>


    <div class="col-md-4 col-sm-6" >
        
        <div class="card">
                <div class="front"><img src = " https://stockx-360.imgix.net/adidas-Yeezy-Boost-350-V2-Cinder/Images/adidas-Yeezy-Boost-350-V2-Cinder/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1585357645&w=1000 " class="img-fluid" width = "300px" ></div>
                <div class = "back">
                    <div class="details">
                        <h2>ชื่อรุ่น<br><span>ชอบบบบ</span></h2>
                        <p class="btn btn-secondary" style="text-align: center; font-size: 20px;"><a href="/nike/details">Nike Store</a></p>
                        <div class="social-icons">
                            <a href="#"><i class="" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            
        </div>    
        <br><br>
        
        
    
    </div>



    <div class="col-md-4 col-sm-6" >
            
        <div class="card">
                <div class="front"><img src = " https://stockx-360.imgix.net/adidas-Yeezy-Boost-350-V2-Cinder/Images/adidas-Yeezy-Boost-350-V2-Cinder/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1585357645&w=1000 " class="img-fluid" width = "300px" ></div>
                <div class = "back">
                    <div class="details">
                        <h2>ชื่อรุ่น<br><span>ชอบบบบ</span></h2>
                        <p class="btn btn-secondary" style="text-align: center; font-size: 20px;"><a href="/nike/details">Nike Store</a></p>
                        <div class="social-icons">
                            <a href="#"><i class="" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            
        </div>    
        <br><br>
    </div>
        



    <div class="col-md-4 col-sm-6" >
            
        <div class="card">
                <div class="front"><img src = " https://stockx-360.imgix.net/adidas-Yeezy-Boost-350-V2-Cinder/Images/adidas-Yeezy-Boost-350-V2-Cinder/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1585357645&w=1000 " class="img-fluid" width = "300px" ></div>
                <div class = "back">
                    <div class="details">
                        <h2>ชื่อรุ่น<br><span>ชอบบบบ</span></h2>
                        <p class="btn btn-secondary" style="text-align: center; font-size: 20px;"><a href="/nike/details">Nike Store</a></p>
                        <div class="social-icons">
                            <a href="#"><i class="" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            
        </div>    
        <br><br>
    </div>


    <div class="col-md-4 col-sm-6" >
            
        <div class="card">
                <div class="front"><img src = " https://stockx-360.imgix.net/adidas-Yeezy-Boost-350-V2-Cinder/Images/adidas-Yeezy-Boost-350-V2-Cinder/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1585357645&w=1000 " class="img-fluid" width = "300px" ></div>
                <div class = "back">
                    <div class="details">
                        <h2>ชื่อรุ่น<br><span>ชอบบบบ</span></h2>
                        <p class="btn btn-secondary" style="text-align: center; font-size: 20px;"><a href="/nike/details">Nike Store</a></p>
                        <div class="social-icons">
                            <a href="#"><i class="" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            
        </div>    
        <br><br>
    </div>



    <div class="col-md-4 col-sm-6" >
            
        <div class="card">
                <div class="front"><img src = " https://stockx-360.imgix.net/adidas-Yeezy-Boost-350-V2-Cinder/Images/adidas-Yeezy-Boost-350-V2-Cinder/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1585357645&w=1000 " class="img-fluid" width = "300px" ></div>
                <div class = "back">
                    <div class="details">
                        <h2>ชื่อรุ่น<br><span>ชอบบบบ</span></h2>
                        <p class="btn btn-secondary" style="text-align: center; font-size: 20px;"><a href="/nike/details">Nike Store</a></p>
                        <div class="social-icons">
                            <a href="#"><i class="" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            
        </div>    
        <br><br>
        
        

    </div>





</div>

<%- include("partials/footer") %>