<%- include("partials/header") %>

<!-- 
<body class = "bg" background ="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misc14-adj00937-adj-b_1.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=671cc598a523b4648f39a4b8cee405d2" >

<br><br>
<div id="login" class="container jumbotron" style="background: url(https://lh3.googleusercontent.com/proxy/oFElxFySzFXpsfSsI3q4DY1nWgkBNOCERE_Dk-emoorPGU5PudV1NXBb_fc-B7ztQg1Gik45We2pKSt7Josbb9FeznbfCMxwALVEsRMokGrPn_llUkS2DaShNoIbjaJSj6ENk3C8JWzJEX7I-7Ql4DLyVlp9SHw); background-size: cover; width: 60%;
height: 500px;" class="img-fluid" style ="text-align: center">
    <div class="row">
      <div class="col-md-12">
      
<br>
<h1 style="text-align:center;" >Sign UP</h1>
<br>

<% if(locals.errors){ %>
  <ul class="alert alert-danger">
    <% Object.values(errors).forEach(function(error){%>
            <li><%= error.msg %></li>
    <%})%>
  </ul>
<%}%>
      
       <form  action="/signup" method="POST" id="login">
                <div class="row">
                <label class="col-md-4" style="text-align:right"> Username </label>
                  <div class="col-md-4">
                  <input type="text"  name="name" class="form-control" required placeholder="Username" />
                  </div>
                  </div>
   
   
                <div class="row">
                <br>
                <label class="col-md-4" style="text-align:right"> Password </label>
                  <div class="col-md-4">
                       <input type="password" name="password" class="form-control" required placeholder="Password" />
              </div>
                </div>


                <!-- <div class="row">
                  <br>
                  <label class="col-md-4" style="text-align:right">Confirm Password</label>
                    <div class="col-md-4">
                         <input type="password" name="confirm" class="form-control" required placeholder="Confirm Password" />
                </div>
                  </div> -->

                  <div class="row">
                    <br>
                    <label class="col-md-4" style="text-align:right">E-mail</label>
                      <div class="col-md-4">
                           <input type="email" name="email" class="form-control" required placeholder="E-mail" />
                  </div>
                    </div>
   
   
   
                
                  <div class="col-md-4"> </div>
                &nbsp; &nbsp; &nbsp; <br/> 
                <div class="col-md-12">
                <p align="center">
                
                <a href="/" class="btn btn-info btn-sm"> Back to Home </a>
                <input type="submit" name="" class="btn btn-primary btn-sm" id="btn" value="Signin"> 
                </p>
                </div>
                <br>
                
              </form>
        </div>
      </div>
    </div> -->
<%- include("partials/footer") %>